@import "../../styles/variables";


.button{
    font-size: 18px;
}

.title{
    font-weight: bold;
    font-size: 44px;
}

.p-20{
    font-size: 20px;
}

.p-18{
    font-size: 18px;
}

.p-16{
    font-size: 16px;
}

.p-14{
    font-size: 14px;
}

.color_primary{
    color: $primary;
}
.color_secondary{
    color: $text-secondary;
}
.color_accent{
    color: $text-accent;
}

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}